.table-responsive {
  max-height: 450px !important;
  .table {
    thead {
      tr {
        th {
          position: sticky;
          top: 0;
          z-index: 1;
        }
      }
    }
    tr {
      text-align: center;
    }
  }
}
