@import "react-toastify/dist/ReactToastify.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-bg: #fbfbfb;
  --navbar-bg: #1e633f;
  --second-highlight-bg: #3dca72;
  --secondary-text-color: #e6e6e6;
  --skeleton-bg-1: hsl(200, 20%, 80%);
  --skeleton-bg-2: hsl(200, 20%, 95%);
}
